

.social-style{
    padding: 6px 16px;
    border-radius: 5px;
    border: 1px solid #204265;
    margin: 0;
}
.social-style:hover{
    background-color: #7EC333;
}
.social-style a{
    color: #204265;
}

.section-pt-pd{
    padding: 1rem;
}
.title-cstmz{
    font-family: 'Yellowtail', cursive;
    font-size: 80px;
    color: #204265;
    display: inline-block;
    line-height: 40px;
    padding: 0 25px;
    border-bottom: 10px solid #6ECA9E;
}

.aboutme-text{
    font-size: 18px;
    line-height: 28px;
}
.photo-container{
    width: 220px; height: 350px;
    position: relative;
}
.photo-container img{
    position: absolute;
    width: 220px; height: 391px;
    clip: rect(0px,220px,350px,0px);
}
.jumbotron{
    height: 50vh;
    position: relative;
    background-color: transparent;
}
.jumbotron-style{
    position: absolute; top: 0;
    width: 100vw; height:55vh; top: 0;
}
.bg_header-light{
    /* background-image:  */
	    /* linear-gradient(to right bottom, 
        rgba(126,195,51, 0.8),
        rgba(126,195,51, 0.8)),
        url('../img/jumbotron_code.jpg'); */
    /* background-size: cover;
      background-position: top; */
    background-color: #F0F0F0;  	
    clip-path: polygon(0 0, 100vw 0, 100vw 37vh, 0 45vh);
    z-index: -10;
}
.bg_header-top{
    background-color: #7EC333;
    z-index: -5;  
    clip-path: polygon(0 0, 100vw 0,45vw 0vh, 0 6vh);
}
.bg_header-end{
    background-color: #7EC333;
    z-index: -15;  
    clip-path: polygon(0 0, 100vw 0, 100vw 44vh, 0 40vh);
}
.bg-header-sm-light{
    z-index: -5;
    background-color: #F0F0F0;
    height: 38vh;
    clip-path: polygon(0 0, 100vw 0, 100vw 30vh, 0 38vh);
}
.slop-b-toR{
    top:-2.5vh;
    height: 5vh;
    clip-path: polygon(0 0, 100vw 0, 100vw 2vh, 0 5vh);
}

.logo-img{
    width: 30vw;
}

.lead{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.expe-card{
    max-width: 850px;
}
.exp-slides{
    max-width: 600px;
}





@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}